<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll One Hundred 6-Sided</title>
</head>
<body>
  <h1>100d6</h1>
  <ul>
    <% @rolls.each do |a_roll| %>
      <li>
        <%= a_roll %>
      </li>
    <% end %>
  </ul>
</body>
</html>
